/* Game page css */ 

html, body{
    background: rgb(231,235,236);
    background: radial-gradient(circle, rgba(231,235,236,1) 2%, rgba(179,198,201,1) 47%, rgba(129,163,167,1) 91%);
    font-family: 'Roboto', Arial, sans-serif;
}

/* fix the canvas position on the left 
Use transform property to enable resize functions*/
#game-canvas{
    background-color: #ffffff;
    float: left;
    margin-left: 1%;
    position: relative;
    transform: top left;
}

/* Put the leaderboard on the canvas, in the top left corner. 
Add opacity to see through*/
#leaderboard{
    margin-left: 1%; 
    width: 200px;
    text-align:center;
    position: absolute;
    background-color: aliceblue;
    opacity: 0.5;
}
#tt{
    background-color: rosybrown;
}