/* Game page css */ 

#gamePage{
    background: rgb(231,235,236);
    background: radial-gradient(circle, rgba(231,235,236,1) 2%, rgba(179,198,201,1) 47%, rgba(129,163,167,1) 91%);
    font-family: 'Roboto', Arial, sans-serif;
}

#game-title{
    text-align: center;
}
#game-canvas{
    background-color: #ffffff;
}

#leaderboard{
    margin-left: 5vw; 
    width: 200px;
}