/* Index page css */

body {
    font-family: 'Roboto', Arial, sans-serif;
    overflow: hidden;
}

/* Home page 2 main buttons for control page and game page 
Draw 2 polygons and each one have his own propertys*/ 
.home { 
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: block;
}
.home {
    color: inherit; 
}

.home:hover {
    color: inherit; 
    text-decoration: none;
}

.home:first-child {
    -webkit-clip-path: polygon(0 0, 0 100vh, 100% 100vh);
    clip-path: polygon(0 0, 0 100vh, 100% 100vh);
    background: #C2D3DA;
}

.home:last-child {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100vh);
    clip-path: polygon(0 0, 100% 0, 100% 100vh);
    background: #81A3A7;
}

/*Logos propertys */
#play {
    display: block;
    margin-top: 50vh; /* poussé de la moitié de hauteur de viewport */
    transform: translateY(-25%); 
    margin-left:20%;
    width: 10%;
}

#control {
    display: block;
    margin-top: 50vh; /* poussé de la moitié de hauteur de viewport */
    transform: translateY(-105%);
    margin-left:60%;
    width: 20%;
}

/*Buttons propertys*/
#btnHomePage{
    position: absolute;
    top: 2vh;
    left: 1%;
}
