body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #C1C0AC;
}

#gamePage{
    background: rgb(231,235,236);
background: radial-gradient(circle, rgba(231,235,236,1) 2%, rgba(179,198,201,1) 47%, rgba(129,163,167,1) 91%);
}

#controlCanvas{
    background: rgb(231,235,236);
    background: radial-gradient(circle, rgba(231,235,236,1) 2%, rgba(179,198,201,1) 47%, rgba(129,163,167,1) 91%);
    margin-top: 0%;
    margin-right: 0%;
    width: 49vw;
    height: 90vh;
    float: right;
    border-radius: 50%;
}

#controlCanvas2{
    background: rgb(231,235,236);
    background: radial-gradient(circle, rgba(231,235,236,1) 2%, rgba(179,198,201,1) 47%, rgba(129,163,167,1) 91%);
    margin-top: 0%;
    margin-left: 0%;
    height: 90vh;
    width: 49vw;
    float: left;
    border-radius: 50%;
}

#game-title{
    text-align: center;
}
#game-canvas, #controlCanvas{
    background-color: #ffffff;
}
#lead-canvas{
    background-color: #ffffff;
}
#formControl{
    position: absolute;
}

.home { 
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: block;
}
.home {
    color: inherit; 
}

.home:hover {
    color: inherit; 
    text-decoration: none;
}

.home:first-child {
    -webkit-clip-path: polygon(0 0, 0 100vh, 100% 100vh);
    clip-path: polygon(0 0, 0 100vh, 100% 100vh);
    background: #C2D3DA;
}

.home:last-child {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100vh);
    clip-path: polygon(0 0, 100% 0, 100% 100vh);
    background: #81A3A7;
}

#play {
    display: block;
    margin-top: 50vh; /* poussé de la moitié de hauteur de viewport */
    transform: translateY(-25%); 
    margin-left:20%;
    width: 10%;
}

#control {
    display: block;
    margin-top: 50vh; /* poussé de la moitié de hauteur de viewport */
    transform: translateY(-125%);
    margin-left:65%;
    width: 20%;
}

#btnHow{
    position: absolute;
    margin-left: 1%;
    margin-top: 1%;
}

#lifeBar, #expBar{
    width: 35%;
    margin-left: auto;
    margin-right:auto;
    margin-top: 5px;
}

#changeP{
    position: absolute;
    top: 0;
}

#score{
    position: absolute;
    bottom: 0;
}

#controlPage{
    overflow: hidden;
}