body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #C1C0AC;
}

.card {
    margin: 0 auto;
    float: none; 
    margin-bottom: 10px; 
    margin-top: 50px;
    border-radius: 10px;
}

#game-canvas{
    background-color: #ffffff;
}

#game-title{
    text-align: center;
}