/* Controls page css for landscape mode (media queries in the html source page) */ 

body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #C1C0AC;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#lifeBar{
    width: 35%;
    text-align: center;
    margin-left: auto;
    margin-right:auto;
    margin-top: 2%;
}

#expBar{
    width: 35%;
    text-align: center;
    margin-left: auto;
    margin-right:auto;
    margin-top: 10px;
}

#controlPage{
    overflow: hidden;
}

#scoreDiv{
    position: absolute;
    top:0;
    left:0;
    margin-left: 3%;
    margin-top: 1%;
}

#upgrades{
    position: absolute;
    top: 50vh;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.btnUpgr{
    font-size: 10px;
    width: 150px;;
    height: 100px;
    text-align: center;
}

#joyMove{
    width: 100px; 
    height: 100px;
    position: absolute;
    bottom:0; 
    left: 0;
    margin-left: 10%;
    margin-bottom: 15%;
}

#joyShoot{
    width: 100px; 
    height: 100px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 10%;
    margin-bottom: 15%;
}

#control_pading {
    display : none;
}

#hide_joy{
    visibility : hidden;
}

#pseudal_page{
    position: absolute;
    top: 20%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

#Pseudal{
    width: 250px;
}
#btnDescri{
    position: absolute;
}

#classPage{
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.btnCls{
    width: 75px; 
    height: 75px;
    text-align: center;
}

#descriClass{
    width: 400px;
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60vh;
    border-radius: 25px;
}