body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #C1C0AC;
}

#lifeBar{
    width: 35%;
    text-align: center;
    margin-left: auto;
    margin-right:auto;
    margin-top: 2%;
}

#expBar{
    width: 35%;
    text-align: center;
    margin-left: auto;
    margin-right:auto;
    margin-top: 10px;
}

#changeP{
    position: absolute;
    top: 0;
    right: 0;
}

#controlPage{
    overflow: hidden;
}

#scoreDiv{
    position: absolute;
    top:0;
    left:0;
    margin-left: 3%;
    margin-top: 1%;
}

#upgrades{
    width: 50%;
    position: absolute;
    
	top: 30vh;
	left: 0;
	right: 0;	
	margin: auto;
}

.btnUpgr{
    font-size: 10px;
    width: 100%;
    height: 100%;
}

#joyMove{
    width: 100px; 
    height: 100px;
    position: absolute;
    bottom:0; 
    left: 0;
    margin-left: 10%;
    margin-bottom: 15%;
}

#joyShoot{
    width: 100px; 
    height: 100px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 10%;
    margin-bottom: 15%;
}

#control_pading {
    display : none;
}