/* Controls page css for portrait mode (media queries in the html source page) */

body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #C1C0AC;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#lifeBar{
    margin-top:7%;
    width: 55%;
    text-align: center;
    margin-left: auto;
    margin-right:auto;
}
#expBar{
    width: 55%;
    text-align: center;
    margin-left: auto;
    margin-right:auto;
    margin-top: 5%;
    
}

#controlPage{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#upgrades{	
    position: absolute;
    top: 45vh;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.btnUpgr{
    font-size: 10px;
    width: 150px;;
    height: 50px;
    text-align: center;
}

/* Set size on the two joysticks */
#joyMove{
    width: 100px; 
    height: 100px;
    position: absolute;
    bottom:0; 
    left: 0;
    margin-left: 10%;
    margin-bottom: 15%;
}

#joyShoot{
    width: 100px; 
    height: 100px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 10%;
    margin-bottom: 15%;
}

#control_pading {
    display : none;
}

#hide_joy{
    visibility : hidden;
}

#pseudal_page{
    position: absolute;
    top: 30%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}   

#Pseudal{
    width: 25vw;
}
#btnDescri{
    position: absolute;
}

#classPage{
    position: absolute;
    width: 150px;
    top: 55%;
    left: 50%;
    right: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.btnCls{
    width: 100px; 
    height: 55px;
    text-align: center;
}

#descriClass{
    width: 400px;
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60vh;
    border-radius: 25px;
}